    .nav-li-tags {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }
    
    .active {
        color: #7d931a !important;
    }
    
    .nav-itm {
        font-weight: 600;
        margin-left: 15px;
        font-size: 17px;
    }
    
    ul {
        padding-bottom: 0 !important;
        list-style-type: none;
    }
    
    a {
        cursor: pointer;
        color: #000;
        text-decoration: none !important;
    }
    
    a:hover {
        color: #7d931a !important;
        text-decoration: none !important;
    }
    
    .nav-btn-position {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        place-content: flex-end;
    }
    
    .nav-btn {
        border: 2px solid #97b126;
        border-radius: 50px;
        padding: 0 10px;
        background-color: #fff;
        color: #97b126;
    }
    
    .nav-btn:hover {
        background: #97b126;
        color: #fff;
    }
    
    .btn {
        -moz-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        -moz-transition: all .15s ease;
        -webkit-transition: all .15s ease;
        transition: all .15s ease;
    }
    
    .btn:hover {
        -moz-transform: translateY(-1px);
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }
    
    .nav-btn {
        border: 2px solid #97b126;
        border-radius: 50px;
        padding: 0 10px;
        color: #97b126;
    }
    
    .nav-btn:hover {
        background: #97b126;
        color: #fff !important;
    }
    
    .nav-bar-shadow {
        box-shadow: 5px 1px 8px 1px #888888;
    }
    
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #080d15;
        opacity: .7;
    }
    
    .slider-text {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        place-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        color: #fff;
    }
    
    .carousel-caption p {
        margin: auto;
        font-size: 30px;
        display: block;
        width: 500px;
        line-height: 1.3;
    }
    
    .main-caption {
        font-size: 60px;
    }
    
    .sub-caption {
        font-size: 30px;
    }
    
    .p-15 {
        padding: 0px 15px;
    }
    
    .about-sub-text {
        margin: 0px 50px;
    }
    
    .primary-txt-color {
        color: #849C1B
    }
    
    .f-50 {
        font-size: 50px;
    }
    
    .f-20 {
        font-size: 20px;
    }
    
    .f-12 {
        font-size: 12px;
    }
    
    .f-15 {
        font-size: 15px;
    }
    
    .f-35 {
        font-size: 35px;
    }
    
    .f-43 {
        font-size: 43px;
    }
    
    .letter-space-3 {
        letter-spacing: 3px;
    }
    
    .txt-clr-white {
        color: #fff;
    }
    
    .mt-67 {
        margin-top: 67px;
    }
    
    .mt-28 {
        margin-top: 28px;
    }
    
    .mb-18 {
        margin-bottom: 18px;
    }
    
    .mt-75 {
        margin-top: 75px;
    }
    
    .spanCaption {
        color: #000;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 2px;
        font-weight: bold;
        line-height: 1.6;
    }
    
    .your-food-sub-text {
        margin-top: 44px;
    }
    
    .mt-75 {
        margin-top: 75px;
    }
    
    .mt-80 {
        margin-top: 80px;
    }
    
    .ml-50 {
        margin-left: 50px;
    }
    
    .mt-90 {
        margin-top: 90px;
    }
    
    .align-to-center {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        place-content: center;
    }
    
    .bg-vnf-primary {
        background-color: #7d931a;
    }
    
    .p-15-lr {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .p-50-lr {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        display: block;
        max-width: 100%;
        height: auto
    }
    
    .ul-works li {
        color: #000;
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 1.5;
        margin-bottom: 10%;
        display: flex;
        left: -42px;
    }
    
    .ul-works {
        margin-top: 10%;
    }
    
    .count {
        color: #7d931a;
        border: 1px solid #7e951a;
        border-radius: 50px;
        padding: 5px 15px;
        margin-right: 2%;
        width: 50px;
        height: 50px;
    }
    
    .ul-works li {
        color: #000;
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 1.5;
        margin-bottom: 10%;
        display: flex;
        left: -42px;
        padding-left: 0;
    }
    
    .rightAttachImg {
        /* right: -80px; */
        overflow: hidden;
        width: 100%;
        margin-left: 15px;
    }
    
    .card {
        border: 1px solid #f3f2f2;
        border-radius: 3px;
    }
    
    p.card-text.text-left.text-black {
        text-align: justify;
        min-height: 400px;
    }
    
    .avatar {
        margin-bottom: -78px;
        float: right;
        right: 40px;
        top: -20px;
        display: flex;
        justify-content: flex-end;
    }
    
    .avatar img {
        width: 100px;
        height: 100px;
    }
    
    .card-footer {
        border-top: 2px solid #ececec;
        margin-top: 10%;
    }
    
    .img-circle {
        border-radius: 50%;
    }
    
    @media only screen and (max-width: 768px) {
        .md-qry-mobile {
            display: none;
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .md-qry-desktop {
            display: none;
        }
    }